---
import type { CollectionEntry } from "astro:content"
import { formatDate } from "@/lib/utils"

interface Props {
    article?: CollectionEntry<"traversy">;
}

let { article } = Astro.props
---

<div>
    <a href={`/articles/${article.slug}`}>
        <img src={`${import.meta.env.PUBLIC_DIRECTUS}/assets/${article.data.image}?width=300`} alt="recent article image" class="w-full h-auto rounded-2xl" />
        <div>
            <h2>
                {article.data.title}
            </h2>
            <p>
                {formatDate(article.data.published)}
            </p>
            <div>
            {
                article.data.tags.map((tag) => (
                    <span>{tag}</span>
                ))
            }
            </div>
        </div>
    </a>
 </div>
