---
import type { CollectionEntry } from "astro:content"
import { formatDate } from "@/lib/utils"

interface Props {
    recentArticle?: CollectionEntry<"traversy">;
}

let directusUrl = import.meta.env.PUBLIC_DIRECTUS
let { recentArticle } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <h1 class="font-semibold my-4 p-4 text-2xl lg:text-4xl">
            Articles, Stories, Tutorials
        </h1>
    </div>
    <div>
        <a href={`/articles/${recentArticle.slug}`}>
            <img src={`${directusUrl}/assets/${recentArticle.data.image}`} alt="recent article image" class="w-full h-auto rounded-2xl" />
            <div>
                <h2>
                    {recentArticle.data.title}
                </h2>
                <p>
                    {formatDate(recentArticle.data.published)}
                </p>
                <div>
                {
                    recentArticle.data.tags.map((tag) => (
                        <span>{tag}</span>
                    ))
                }
                </div>
            </div>
        </a>
    </div>
</div>
