---
import type { CollectionEntry } from "astro:content"
import { DIRECTUS_URL } from "@/lib/constants"
import { formatDate } from "@/lib/utils"

interface Props {
    recentArticle?: CollectionEntry<"traversy">;
}

let { recentArticle } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <h1 class="font-semibold my-4 p-4 text-2xl lg:text-4xl">
            Articles, Stories, Tutorials
        </h1>
    </div>
    <div class="relative inline-block mt-4 mx-2 text-xs">
        <a href={`/articles/${recentArticle.slug}`}>
            <img src={`${DIRECTUS_URL}/assets/${recentArticle.data.image}`} alt="recent article image" class="w-full h-auto rounded-2xl" />
            <div class="absolute inset-0 flex flex-col justify-center text-white text-center bg-black rounded-lg opacity-80 hover:opacity-40 transition duration-300 ease-in-out">
                <h2 class="text-xl">
                    {recentArticle.data.title}
                </h2>
                <p class="">
                    {formatDate(recentArticle.data.published)}
                </p>
                <div class="flex p-4">
                {
                    recentArticle.data.tags.map((tag) => (
                        <span class="text-white border p-1 mx-1 rounded-lg">
                            <small>{tag}</small>    
                        </span>
                    ))
                }
                </div>
            </div>
        </a>
    </div>
</div>
